/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	.test{
		Background:black;
	}
	#test{
	Background-color:black;
	}
        
        #my_cardsOnHand{
            -fx-padding: 0 0 0 0;
            -fx-background-color: #0093ff;
        }
        
        .root {
            -fx-background-color: white;
}
        #countCards2, #countCards1 {
            -fx-border-width: 1;
            -fx-border-color: black;            
            -fx-background-color: #f4f4f4;
            -fx-background-image: url("http://i65.tinypic.com/2n1su9d.jpg");
            -fx-text-fill: white; 
        }
        #card_css, #enemy_specialcard4, #enemy_specialcard3, #enemy_specialcard2,#enemy_specialcard1, #my_specialcard4, #my_specialcard3, #my_specialcard2,#my_specialcard1 {
                     -fx-border-width: 1;
                     -fx-border-color: black;
                     -fx-font-size: 11px;
                     -fx-background-color: white;
                     -fx-margin: 4 4 4 4;
                 }
         #card_css_chosen{
                            -fx-border-width: 1;
                             -fx-border-color: black;
                             -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
                             -fx-font-size: 11px;
                             -fx-background-color: white;
                             -fx-margin: 10 10 10 10;
                         }
        #description_css{
                     -fx-border-width: 1;
                     -fx-border-color: black;
        }
        #description_css .list-cell:even{
                             -fx-font-size: 11px;
        }
        #description_css .list-cell:odd{
                             -fx-font-size: 11px;
        }
        #cardPreviewPane{

                     -fx-border-width: 1;
                     -fx-border-color: black;
        }
        #boldtext_css{

            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }
        #card_name{
            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }
        #enemy_card4, #enemy_card3, #enemy_card2,#enemy_card1, #my_card4, #my_card3, #my_card2,#my_card1 {
              -fx-border-width: 1;
            -fx-border-color: black;
            -fx-font-size: 11px;
            -fx-background-color: white;
        }
        
        #my_cardsOnHand{
            -fx-padding: 0;
            -fx-border-width: 1;
            -fx-border-color: black;
            -fx-background-color: white;
        }

        #my_cardsOnHand .list-cell:even{
            -fx-background-color: white;
            -fx-cell-size: 132px;
        }

        #my_cardsOnHand .list-cell:odd{
            -fx-background-color: white;
            -fx-cell-size: 132px;
        }

        #my_cardsOnHand .scroll-bar:vertical {
            -fx-scale-x: 0;
        }
        #button_css{
            -fx-padding: 4 4 4 4;
            -fx-background-image: url("http://i63.tinypic.com/qyejq0.jpg");
            -fx-border-width: 0.5;
            -fx-border-color: black;
            -fx-background-position: center;
            -fx-background-repeat: no-repeat;
            -fx-border-radius: 9;
             fx-background-radius: 9;
            -fx-font-size: 11px;
            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }

                #button_css:hover{
                    -fx-padding: 4 4 4 4;
                    -fx-background-image: url("http://i68.tinypic.com/33blaw2.jpg");
                    -fx-border-width: 0.5;
                    -fx-border-color: black;
                    -fx-background-position: center;
                    -fx-background-repeat: no-repeat;
                    -fx-background-size: cover, auto;
            -fx-border-radius: 9;
            -fx-background-radius: 9;
            -fx-font-size: 11px;
                    -fx-label-font-weight:bold;
                    -fx-font-weight:bold;
                }

        #playershield_css{

            -fx-padding: 0 0 0 0;
            -fx-background-color: white;

                    -fx-border-width: 0;
                    -fx-border-color: black;
            -fx-background-image: url("http://i63.tinypic.com/2m3hj07.png");
            -fx-background-position: center;
            -fx-background-repeat: no-repeat;
            -fx-background-size: auto;
        }

         #playershield_css{

                    -fx-padding: 0 0 0 0;
                    -fx-background-color: white;

                            -fx-border-width: 0;
                            -fx-border-color: black;
                    -fx-background-image: url("http://i63.tinypic.com/2m3hj07.png");
                    -fx-background-position: center;
                    -fx-background-repeat: no-repeat;
                    -fx-background-size: auto;
                }


        #playershield_css .list-cell:even {
                    -fx-background-color: white;
        }
        #playershield_css .list-cell:odd {
                    -fx-background-color: white;
        }
        #playershield_css .list-cell:empty {
                    -fx-background-color: white;
            -fx-opacity: 0;
        }

        #playershield_css .list-cell:filled:selected {
            -fx-background: white;
            -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
        }
        
}
