/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	.test{
		Background:black;
	}
	#test{
	Background-color:black;
	}
        
        #my_cardsOnHand{
            -fx-padding: 0 0 0 0;
            -fx-background-color: #0093ff;
        }
        
        .root {
            -fx-background-color: white;
}
        #countCards2, #countCards1 {
            -fx-border-width: 1;
            -fx-border-color: black;            
            -fx-background-color: #f4f4f4;
            -fx-background-image: url("http://i65.tinypic.com/2n1su9d.jpg");
            -fx-text-fill: white; 
        }
        #card_css, #enemy_specialcard4, #enemy_specialcard3, #enemy_specialcard2,#enemy_specialcard1, #my_specialcard4, #my_specialcard3, #my_specialcard2,#my_specialcard1 {
                     -fx-border-width: 1;
                     -fx-border-color: black;
                     -fx-font-size: 11px;
                     -fx-background-color: white;
                     -fx-margin: 4 4 4 4;
                 }
         #card_css_chosen{
                            -fx-border-width: 3;
                             -fx-border-color: red;
                             -fx-font-size: 11px;
                             -fx-background-color: white;
                             -fx-margin: 10 10 10 10;
                         }
        #description_css .list-cell:even{
                             -fx-font-size: 11px;
        }
        #description_css .list-cell:odd{
                             -fx-font-size: 11px;
        }
        #boldtext_css{

            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }
        #card_name{
            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }
        #enemy_card4, #enemy_card3, #enemy_card2,#enemy_card1, #my_card4, #my_card3, #my_card2,#my_card1 {
              -fx-border-width: 1;
            -fx-border-color: black;
            -fx-font-size: 11px;
            -fx-background-color: white;
        }
        
        #my_cards_on_hand{
            -fx-padding: 2;
                        -fx-border-width: 1;
            -fx-border-color: black;
            -fx-background-color: yellow;
            -fx-background-image: url("http://i65.tinypic.com/2n1su9d.jpg");
        }
        
}
