/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	.test{
		Background:black;
	}
	#test{
	Background-color:black;
	}
        
        #pl2_cardsOnHand{
            -fx-padding: 0 0 0 0;
            -fx-background-color: #0093ff;
        }
        
        .root {
            -fx-background-color: white;
}
        #countCards2, #countCards1 {
            -fx-border-width: 1;
            -fx-border-color: black;            
            -fx-background-color: #f4f4f4;
            -fx-background-image: url("http://i65.tinypic.com/2n1su9d.jpg");
            -fx-text-fill: white; 
        }
        #card_css, #pl1_specialcard4, #pl1_specialcard3, #pl1_specialcard2,#pl1_specialcard1, #pl2_specialcard4, #pl2_specialcard3, #pl2_specialcard2,#pl2_specialcard1 {
                     -fx-border-width: 1;
                     -fx-border-color: black;
                     -fx-font-size: 11px;
                     -fx-background-color: white;
                 }
         #card_css_chosen{
                            -fx-border-width: 1;
                             -fx-border-color: red;
                             -fx-font-size: 11px;
                             -fx-background-color: white;
                         }
        #card_name{
            -fx-label-font-weight:bold;
            -fx-font-weight:bold;
        }
        #pl1_card4, #pl1_card3, #pl1_card2,#pl1_card1, #pl2_card4, #pl2_card3, #pl2_card2,#pl2_card1 {
              -fx-border-width: 1;
            -fx-border-color: black;
            -fx-font-size: 11px;
            -fx-background-color: white;
        }
        
        #pl2_cards_on_hand{
            -fx-padding: 2;
                        -fx-border-width: 1;
            -fx-border-color: black;
            -fx-background-color: yellow;
            -fx-background-image: url("http://i65.tinypic.com/2n1su9d.jpg");
        }
        
}
